.pixel {
  flex: 1 1 auto;
}

#title {
  font-size: 6em;
}

#screen {
  height: 900px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 4em;
    font-family: sans-serif;
}

#generate {
  font-size: 2em;
}